<br>
<br>
<br>
<br>

<h3 class="text-center">Error 403, Sin Acceso!</h3>
<br>
<div class="text-center">
    <img src="../../../assets/images/download-icon-continue+success+icon-1320196067402761853_512.png" class="rounded" style="height: 300px;">
</div>
<p class="text-center mt-4 mb-0">Disculpanos, tu cuenta no tiene acceso a la pagina o funcion</p>
<p class="text-center">Si quieres acceder puedes usar una cuenta administrador!</p>
<div class="d-flex justify-content-center"><a href="/" class="link-primary text-center">Regresar al Inicio</a></div>

<br>
<br>
<br>
<br>
<br>
