<br>
<br>
<br>
<br>

<h3 class="text-center">Contraseña Cambiada Correctamente!</h3>
<br>
<div class="text-center">
    <img src="../../../assets/images/1721539.png" class="rounded" style="height: 300px;">
</div>
<p class="text-center mt-4 mb-0">Recuerda que ahora tienes que iniciar sesion con tu contraseña nueva</p>
<p class="text-center">Para poder volver a cambiar de contraseña te recomendamos iniciar sesion y dentro de la configuracion de tu perfil!</p>
<div class="d-flex justify-content-center"><a href="/" class="link-primary text-center">Regresar al Inicio</a></div>

<br>
<br>
<br>
<br>
<br>
