<br>
<br>
<br>
<br>

<h3 class="text-center">Perfil Editado Correctamente!</h3>
<br>
<div class="text-center">
    <img src="../../../assets/images/1721539.png" class="rounded" style="height: 300px;">
</div>
<p class="text-center mt-4 mb-0">Recuerda que en cualquier momento puedes volver a cambiar el perfil</p>
<p class="text-center">Y toda la informacion de tu cuenta!</p>
<div class="d-flex justify-content-center"><a href="/" class="link-primary text-center">Regresar al Inicio</a></div>

<br>
<br>
<br>
<br>
<br>
