<br>
<br>
<br>
<br>

<h3 class="text-center">Error 404, Pagina no Encontrada!</h3>
<br>
<div class="text-center">
    <img src="../../../assets/images/information-icon-png-18.jpg" class="rounded" style="height: 300px;">
</div>
<p class="text-center mt-4 mb-0">Disculpanos, esta direccion de url no existe</p>
<p class="text-center">Puedes volver al inicio para ubicarte!</p>
<div class="d-flex justify-content-center"><a href="/" class="link-primary text-center">Regresar al Inicio</a></div>

<br>
<br>
<br>
<br>
<br>
