<br>
<br>
<br>
<br>

<h3 class="text-center">Registro Realizado Correctamente!</h3>
<br>
<div class="text-center">
    <img src="../../../assets/images/1721539.png" class="rounded" style="height: 300px;">
</div>
<p class="text-center mt-4 mb-0">Recuerda que el usuario estará habilitado hasta que el administrador lo permita</p>
<p class="text-center">Te enviaremos un correo cuando ya sea verificada tu cuenta!</p>
<div class="d-flex justify-content-center"><a href="/" class="link-primary text-center">Regresar al Inicio</a></div>

<br>
<br>
<br>
<br>
<br>
